[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
pylint = "*"

[packages]
torch = "*"
torchvision = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
jupyterlab = "*"
sklearn = "*"
tensorflow = "*"

[requires]
python_version = "3.6"
