[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
pylint = "*"

[packages]
torch = "*"
torchvision = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
jupyterlab = "*"
sklearn = "*"
tensorflow = "*"
scikit-image = "*"
seaborn = "*"
ipympl = "*"
pytorch-lightning = "*"
einops = "*"
wandb = "*"
plotly = "*"
better-exceptions = "*"

[requires]
python_version = "3.6"
